mini/.gradle/file-system.probe
mini/.gradle/8.14.3/gc.properties
mini/.gradle/8.14.3/checksums/checksums.lock
mini/.gradle/8.14.3/executionHistory/executionHistory.bin
mini/.gradle/8.14.3/executionHistory/executionHistory.lock
mini/.gradle/8.14.3/fileChanges/last-build.bin
mini/.gradle/8.14.3/fileHashes/fileHashes.bin
mini/.gradle/8.14.3/fileHashes/fileHashes.lock
mini/.gradle/8.14.3/fileHashes/resourceHashesCache.bin
mini/.gradle/buildOutputCleanup/buildOutputCleanup.lock
mini/.gradle/buildOutputCleanup/cache.properties
mini/.gradle/buildOutputCleanup/outputFiles.bin
mini/.gradle/vcs-1/gc.properties
mini/.idea/.gitignore
mini/.idea/compiler.xml
mini/.idea/gradle.xml
mini/.idea/misc.xml
mini/.idea/vcs.xml
mini/build/tmp/compileJava/previous-compilation-data.bin
mini/build/tmp/compileJava/compileTransaction/stash-dir/BoardApiController.class.uniqueId0
mini/build/tmp/compileJava/compileTransaction/stash-dir/BoardMapper.class.uniqueId1
mini/build/tmp/compileJava/compileTransaction/stash-dir/BoardService.class.uniqueId2
mini/build/tmp/compileJava/compileTransaction/stash-dir/WebConfig.class.uniqueId0
